page-tabs {
ion-icon {
    &[class*="appname-"] {
        background-size: contain;
        width: 1em;
        height: 1em;
        background-repeat: no-repeat;
    }
    // custom icons
    &[class*="appname-loanDetails"] {
        background-image: url(../assets/img/ic_loan_details.svg);
    }
    &[class*="appname-paymentSummary"] {
        background-image: url(../assets/img/ic_payment_summary.svg);
    }
    &[class*="appname-paymentSchedule"] {
        background-image: url(../assets/img/ic_payment_schedule.svg);
    }
    &[class*="appname-paymentChart"] {
        background-image: url(../assets/img/ic_payment_chart.svg);
    }
}
}