page-home {

.labelCard{
color: black;
font-size: 12px;
padding-top: 8px;
}
//  color($colors, primary)

.labelHeading{
color: white;
font-size: 14px;
text-align: start;
padding: 10px;
background-image: linear-gradient(to left,#B2EBF2 0%, #4DD0E1 75%, #00BCD4 100%);
border-top-right-radius: 40px;
}

.labelCardHeading{
color: black;
font-size: 12px;
text-align: center;
font-weight:bold;
}

ion-img{
background: transparent;
width: 35px;
height: 35px;
// border: 1px solid #4DD0E1;
// border-radius: 20px;
}

.roundBackground{
border: 1px solid #4DD0E1;
border-radius: 20px; 
padding: 0px; 
}

// .backgroundHome{
    // background-image: linear-gradient(to bottom,#fff 0%, #E0F7FA 75%, #80DEEA 100%);
// }

.transpBackground{
    background: rgba(255,255,255,0);
}

ion-img {
    &[class*="appname_ic_enquiry"] {
        background-image: url(../assets/img/ic_enquiry.svg);
    }
    &[class*="appname_ic_ask_a_question"] {
        background-image: url(../assets/img/ic_ask_a_question.svg);
    }
    &[class*="appname_ic_faq"] {
        background-image: url(../assets/img/ic_faq.svg);
    }
    &[class*="appname_ic_sale_of_any_asset"] {
        background-image: url(../assets/img/ic_sale_of_any_asset.svg);
    }
    &[class*="appname_ic_sale_of_agriculture_land"] {
        background-image: url(../assets/img/ic_sale_of_agriculture_land.svg);
    }
    &[class*="appname_ic_all_house_except_residential_house"] {
        background-image: url(../assets/img/ic_all_house_except_residential_house.svg);
    }
    &[class*="appname_ic_sale_of_residential_house"] {
        background-image: url(../assets/img/ic_sale_of_residential_house.svg);
    }
    &[class*="appname_ic_nri"] {
        background-image: url(../assets/img/ic_document_list.svg);
    }
    &[class*="appname_ic_self_employed_non_documented"] {
        background-image: url(../assets/img/ic_self_employed_non_documented.svg);
    }
    &[class*="appname_ic_self_employed_documented"] {
        background-image: url(../assets/img/ic_self_employed_documented.svg);
    }
    &[class*="appname_ic_salaried_non_documented"] {
        background-image: url(../assets/img/ic_salaried_non_documented.svg);
    }
    &[class*="appname_ic_salaried_documented"] {
        background-image: url(../assets/img/ic_salaried_documented.svg);
    }
    &[class*="appname_ic_returns"] {
        background-image: url(../assets/img/ic_returns.svg);
    }
    &[class*="appname_ic_compound_years"] {
        background-image: url(../assets/img/ic_compound_years.svg);
    }
    &[class*="appname_ic_compound_principal"] {
        background-image: url(../assets/img/ic_compound_principal.svg);
    }
    &[class*="appname_ic_compound_interest"] {
        background-image: url(../assets/img/ic_compound_interest.svg);
    }
    &[class*="appname_ic_interest"] {
        background-image: url(../assets/img/ic_interest.svg);
    }
    &[class*="appname_ic_principal"] {
        background-image: url(../assets/img/ic_principal.svg);
    }
    &[class*="appname_ic_years"] {
        background-image: url(../assets/img/ic_years.svg);
    }
    &[class*="appname_ic_rate_of_interest"] {
        background-image: url(../assets/img/ic_rate_of_interest.svg);
    }
    &[class*="appname_ic_faq_pmay"] {
        background-image: url(../assets/img/ic_faq_pmay.svg);
    }
    &[class*="appname_ic_subsidy_calculator"] {
        background-image: url(../assets/img/ic_subsidy_calculator.svg);
    }
    &[class*="appname_ic_about_pmay"] {
        background-image: url(../assets/img/ic_about_pmay.svg);
    }
    &[class*="appname_ic_emi_calculator"] {
        background-image: url(../assets/img/ic_emi_calculator.svg);
    }
    &[class*="appname_ic_loan_eligibility_calculator"] {
        background-image: url(../assets/img/ic_loan_eligibility_calculator.svg);
    }
    &[class*="appname_ic_advance_home_loan_calculator"] {
        background-image: url(../assets/img/ic_advance_home_loan_calculator.svg);
    }
    &[class*="appname_ic_emi_compare"] {
        background-image: url(../assets/img/ic_emi_compare.svg);
    }
    &[class*="appname_ic_eligibility_criteria"] {
        background-image: url(../assets/img/ic_eligibility_criteria.svg);
    }
    &[class*="appname_ic_salaried"] {
        background-image: url(../assets/img/ic_salaried.svg);
    }
    &[class*="appname_ic_self_employed"] {
        background-image: url(../assets/img/ic_selfemployed.svg);
    }
}
}
