// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00ACC1, //#488aff
  secondary:  #80DEEA,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  colorIndigo: #7986CB,
  colorPurple: #BA68C8,
  colorOrange: #FFB74D,
  colorLightCyan: #4DD0E1
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go 26A69A
$text-input-ios-highlight-color-invalid: #E0E0E0; //after selection
$text-input-ios-highlight-color-valid: #E0E0E0; //after selection
$text-input-ios-show-invalid-highlight: transparent;
$text-input-ios-highlight-color: color($colors, primary); //selected
$text-input-ios-show-valid-highlight: transparent;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-md-highlight-color-invalid: #E0E0E0; //after selection
$text-input-md-highlight-color-valid: #E0E0E0; //after selection
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: color($colors, primary); //selected
$text-input-md-show-valid-highlight: transparent;

$app-background: linear-gradient(to top, color($colors, primary) 0%, color($colors, primary) 100%);
$toolbar-background: transparent;

$toolbar-ios-title-font-size: 16px;
$toolbar-md-title-font-size: 16px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// * {
//     font-family: '../assets/fonts/OpenSans-Semibold.ttf' !important;
// }

// $font-family-base: '../assets/font/OpenSans-Semibold.ttf' !default;

@font-face {
  font-family: 'AppFont';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'AppFont';
}