page-faqs-home-loan {
 button {
            align-items: baseline;
        }
         .questionStyle{
                    color: color($colors, primary);
        }
                ion-img{
                    background: transparent;
                }
}
